.book-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  max-height: 768px;
  max-width: 1366px;
  padding: 88px 215px 8px 215px;

  .book-item-list {
    align-items: flex-start;
    box-shadow: 4px 4px 10px $black-russian;
    display: flex;
    flex-direction: column;
    margin: 18px;
    max-height: 300px;
    max-width: 198px;
    padding: 28px 28px 23px 28px;
  
    .book-image-mini{
      max-height: 200px;
      max-width: 142px;
      margin-bottom: 12px;
    }
  
    .book-title-small{
      color: $black;
      font-size: $font-small;
      font-weight: bold;
      margin-bottom: 8px;
    }
  
    .book-span-small{
      color: $grey;
      font-size: $font-very-small;
    }
  }
}
