.book-details {
  .book-item {
    display: block;
    padding: 12px;
    font-size: $font-normal;
  }
  .book-item-span {
    color: $grey;
    font-size: $font-normal;
  }
}

.book-title {
  padding: 5px 5px 20px;
}

#title-genre {
  color: $grey;
  font-weight: bold;
  font-size: $font-large;
}

.title {
  color: $black;
  font-weight: bold;
  font-size: $font-extra-large;
  margin-right: 10px;
}

.book-card {
  .book-image {
    max-width: 35%;
  }
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  max-width: 500px;
  margin: 5px;
}
