.book-card {
  box-shadow: 4px 4px 10px $black-russian;
  display: flex;
  flex-flow: row;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  justify-content: flex-start;
  margin: 5px;
  max-height: 416px;
  max-width: 900px;
  padding: 24px;
  width: 100%;

  .book {
    flex-grow: 1;
    max-height: 368px;
    max-width: 588px;

    .book-details {
      padding-top: 36px;
        
      .book-item {
        display: block;
        font-size: $font-normal;
        margin-bottom: 36px;
      }
      
      .book-item-span {
        color: $grey;
        font-size: $font-normal;
      }
    }
    
    .book-title {
      padding: 0 8px 12px 0;

      .title-genre {
        color: $grey;
        font-size: $font-large;
        font-weight: bold;
      }

      .title {
        color: $black;
        font-size: $font-extra-large;
        font-weight: bold;
      }
    }

    .book-separator {
      border: 2px solid $sulu-green;
    }
  }

  .book-cover {
    margin-right: 52px;
    position: relative;

    .book-image {
      height: 100%;
      max-height: 416px;
      max-width: 309px;
      width: 100%;
    }

    .book-badge {
      max-height: 118.57px;
      max-width: 94.53px;
      position: absolute;
      right: -24px;
      top: -24px;
      transform: rotate(15deg);
    }
  }
}

.back-arrow::before {
  content: url('assets/back-arrow-20.png');
  padding-right: 12px;
}

.back-arrow {
  display: block;
  font-size: $font-normal;
  margin-bottom: 110px;
}

.back-container {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  max-height: 416px;
  max-width: 900px;
  width: 100%;
}

.back-arrow-down {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .book-card {
    box-shadow: 4px 4px 10px $black-russian;
    display: flex;
    flex-flow: column;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    justify-content: center;
    margin: 5px;
    max-height: 900px;
    max-width: 416px;
    padding: 24px;
    width: 100%;
  
    .book {
      flex-grow: 1;
      max-height: 368px;
      max-width: 588px;
  
      .book-details {
        padding-top: 36px;
          
        .book-item {
          display: block;
          font-size: $font-normal;
          margin-bottom: 36px;
        }
        
        .book-item-span {
          color: $grey;
          font-size: $font-normal;
        }
      }
      
      .book-title {
        padding: 0 8px 12px 0;
  
        .title-genre {
          color: $grey;
          font-size: $font-large;
          font-weight: bold;
        }
  
        .title {
          color: $black;
          font-size: $font-extra-large;
          font-weight: bold;
        }
      }
  
      .book-separator {
        border: 2px solid $sulu-green;
      }
    }
  
    .book-cover {
      position: relative;
      padding: 24px;
      margin-right: 0;
  
      .book-image {
        height: 100%;
        max-height: 416px;
        max-width: 309px;
        width: 100%;
      }
  
      .book-badge {
        max-height: 118.57px;
        max-width: 94.53px;
        position: absolute;
        right: 14px;
        top: 4px;
        transform: rotate(15deg);
      }
    }
  }

  .back-arrow-down::before {
    content: url('assets/back-arrow-20.png');
    padding-right: 12px;
  }
  
  .back-arrow {
    display: none;
  }

  .back-arrow-down {
    display: flex;
    font-size: $font-normal;
    margin-top: 0;
    margin-bottom: 0;
  }

  .back-container {
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: 900px;
    max-width: 416px;
    width: 100%;
    margin-top: 15px;
  }
}
