.navbar {
  background-color: $white;
  box-shadow: 0 4px 10px $black-russian;
  display: flex;
  flex-direction: column;
  max-height: 70px;
  max-width: 1366px;
  position: fixed;
  width: 1366px;

  .navbar-content {
    display: flex;
    flex-direction: row;
    height: 64px;
    justify-content: space-around;
    max-height: 64px;

    .wolox-logo {
      align-self: center;
      max-height: 70px;
      max-width: 212.42px;
    }

    .logout {
      align-self: center;
      font-size: $font-small;
    }
  }

  .navbar-line-header {
    align-self: flex-start;
    background-color: $cerulean;
    height: 6px;
    width: 1366px;
  }
}
