$font-extra-large: 32px;
$font-large: 24px;
$font-normal: 20px;
$font-small: 16px;
$font-very-small: 14px;
$badge-w: 95px;
$badge-h: 119px;
$badge-small-w: calc(#{$badge-w} * 0.70);
$badge-small-h: calc(#{$badge-h} * 0.70);